{% comment %}

    Adds a basic citation box for the item with reference link to the item page.

{%- endcomment -%}
<div class="card">
    <div class="card-header">Source</div>
    <div class="card-body">
        <dl>
            <dt>Preferred Citation:</dt>
            <dd>"{{ page.title }}", {{ page.source }}, {{ page.specialized_collection }}, University of Southern Maine</dd>
            {% if page.repository_url %}<dt>Repository Link:</dt>
            <dd><a target="_blank" rel="noopener" href="{{ page.rightsstatement }}">{{ page.repository_url }}</a></dd>{% endif %}
        </dl>
    </div>
</div>