<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title h5">Description</h2>
    <p class="card-text">{{ site.description }}<p>Our third annual collaborative exhibition focuses on items in our individual collections related to the theme of women and social reform, broadly conceived. The materials on display here are primarily from the 19th and 20th centuries and in many instances are directly related to social and political actions taken by women in Maine over the course of two centuries.</p></p>
    <a class="btn btn-primary" href="{{ '/about.html' | relative_url }}" role="button">Learn More &raquo;</a>
  </div>
</div>
